*, *::before, *::after{
	box-sizing: border-box; 
}

*{
	margin: 0; 
	padding: 0; 
}

ul[role='list'], ol[role='list']{
	list-style: none; 
}

html:focus-within{
	scroll-behavior: smooth; 
}

a{
	text-decoration: none;
}

img, picture, svg, video, canvas{
	width: auto;
	height: auto; 
	vertical-align: middle; 
	font-style: italic; 
	background-repeat: no-repeat; 
	background-size: cover;
}

input, button, textarea, select{
	padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body, html{
	height: 100%; 
	scroll-behavior: smooth; 
}
