.Movie {
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.33);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 16px;

  img {
    border-radius: 16px;
  }
}

.positionTop {
  position: absolute;
  top: -10px;
  left: -17px;
  font: var(--font-lg);
  color: var(--secondary-color-2);
  background-color: var(--primary-color);
  padding: 8px 24px 8px 24px;
  border-radius: 50px;
}