.Movie {
  position: relative;
  width: 224px;
  height: 336px;
  box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.33);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 16px;

  img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

}

.crossIcon {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 0;
  display: flex;
  background-color: white;
  padding: 14px;
  border-radius: 30px;
}

.positionTop {
  position: absolute;
  top: -10px;
  left: -17px;
  font: var(--font-lg);
  color: var(--secondary-color-2);
  background-color: var(--primary-color);
  padding: 8px 24px 8px 24px;
  border-radius: 50px;
}

.cardSkeletonWrapper {
  position: relative;
  width: 200px;
  height: 300px;
}

.circle {
  position: absolute;
    top: -25px;
    left: -23px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff54;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: black;
}