.app.default {
  --bg-color: #0A0B0B;

  --rating-gold: #A59400;
  --rating-green: #308E21;
  --rating-grey: #777777;
  --rating-red: #C82020;

  --main-grey: #393B3C;

  --modal-background: #FFFFFF;
  --primary-color: #FFFFFF;
  --secondary-color: #FFFFFFB2;
  --secondary-color-2: #6A5DC2;
}
