.RegisterForm {
  display: flex;
  flex-direction: column;
  width: 420px;
  padding: 64px 40px 64px 40px;
  border-radius: 24px;
  background-color: white;
  text-align: center;
  position: relative; 
}

h4 {
  margin-bottom: 24px;
}

.logo {
  margin-bottom: 40px;
}

.title {
  font-size: 24px;
  color: #a76cef;
  margin-bottom: 20px;
}

.inputWrapper {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 0px 12px 0px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.input {
  padding-left: 52px;
}

.createButton {
  width: 100%;
  background-color: #a76cef;
  color: white;
  border: none;
  font: var(--font-md);
  border-radius: 28px;
  margin-top: 10px;
  padding: 16px 0px 16px 0;
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 24px;
}

.loginButton:hover {
  text-decoration: underline;
}